GROQ_API_KEY=your_groq_api_key_here
VITE_FIREBASE_API_KEY=your_value
VITE_FIREBASE_AUTH_DOMAIN=your_value
VITE_FIREBASE_PROJECT_ID=your_value
VITE_FIREBASE_STORAGE_BUCKET=your_value
VITE_FIREBASE_MESSAGING_ID=your_value
VITE_FIREBASE_APP_ID=your_value
VITE_FIREBASE_MEASUREMENT_ID=your_value
GOOGLE_API_KEY=your_value
GOOGLE_SEARCH_ENGINE_ID=your_value
GOOGLE_SHEET_ID=your_value
